.fon {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}

.containerBlock {
    padding: 30px 0;
    text-align: center;
    color: #ffffff;
}

.group_radio {
    padding: 0 0 30px;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 2px solid #999;
    border-radius: 6px;
    user-select: none;
    transition: .4s;
}

.form_radio_btn input[type=radio]:checked + label {
    background: rgba(255, 255, 255, .1);
    border: 2px solid #ffffff;
    font-weight: 500;
}

.form_radio_btn label:hover {
    background: rgba(0, 0, 0, .5);
}

input {
    margin: 10px 0 30px;
    padding: 10px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #ffffff;
    outline: none;
    font-size: 14px;
}

.card {
    width: 100%;
    text-align: center;
}

.location {
    width: 100%;
    margin: 0 0 20px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2px 2px 2px grey;
}

.location p {
    margin: 5px 0 20px;
}

.tempBox {
    margin: 0 auto;
    width: 260px;
    background: rgba(255, 255, 255, .3);
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0px 0px 28px 2px grey;
}

.tempBox .temp {
    padding: 5px;
    font-size: 70px;
    margin: 0;
    text-shadow: 2px 2px 3px grey;
}

.tempBox .weather {
    margin: 0;
    text-shadow: 2px 2px 2px grey;
    font-weight: 500;
}

.cardHour {
    margin: 0 auto;
    width: 260px;
    background: rgba(255, 255, 255, .3);
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 1px grey;
}
